!!!5
%html
  %head
    %title= "#{@tour_operator.name} - #{t('terms_and_conditions')}"
  %body
    %h2= t("cancelation_policy_provider")
    = @tour_operator.terms_and_conditions
    
    %h2 AVISO LEGAL Y TÉRMINOS GENERALES DE USO
    %h3 INFORMACIÓN LEGAL
    %p 
      Kuotus Software S.L. (en adelante, el Kuotus), con domicilio en Rambla Pompeu Fabra, 132  3-4 de Gavà, NIF B65985954 y dirección de correo electrónico info@kuotus.com  actúa como proveedor de tecnología, e intermediario, facilitando la venta de tours y actividades de nuestros clientes a los Usuarios a través de la plataforma que está utilizando.
    %p
      Por “Canal de ventas” se entiende a aquella empresa a la cual Kuotus Software S.L. facilita el sistema de reservas para que sea utilizado bien por sus clientes, bien por su propio personal, previa petición de dichos clientes. La empresa que actúa como Canal de ventas es, normalmente, el propietario de la web en la que se realiza la reserva de servicios. 
    %p
      Usted actúa como Usuario del sistema al realizar la reserva y ejecutar el pago a cuenta de los servicios que les prestarán los proveedores de servicios.
    %p
      Se entiende por cliente de Kuotus, en adelante “proveedor del servicio” o “proveedores de servicios”, a la empresa o empresas que prestan el servicio contratado por el Usuario, normalmente empresas que realizan tours, actividades de ocio o servicios para turistas.

    %h3 OBJETO
    %p 
      En cumplimiento de las obligaciones dispuestas en la Ley 34/2002, de Servicios de la Sociedad de la Información y del Comercio Electrónico (en adelante, “LSSI”), Kuotus Software S.L. pone a disposición de los Usuarios el presente Aviso Legal para informar a todos los Usuarios la plataforma de reservas, respecto a cuáles son las Condiciones Generales y Términos de Uso del mismo.
    %p
      La utilización de ciertos servicios ofrecidos a través de esta plataforma de reservas, puede encontrarse sometida a Condiciones Particulares propias que, según los casos sustituyen, completan y/o modifican las Condiciones Generales y Términos de Uso.
    %p
      Por lo tanto, con anterioridad a la utilización de dichos servicios, cualquier Usuario también debe leer atentamente y aceptar asimismo las correspondientes Condiciones Particulares propias.
    %p
      El uso, en cualquier forma, del sistema de reservas de Kuotus por parte de los Usuarios, implica la plena aceptación de las disposiciones incluidas en las condiciones, tanto Particulares como Generales y Términos de Uso, en la versión publicada por Kuotus en el momento en que el Usuario accede al mismo.

    %h3 RESPONSABILIDAD LIMITADA

    %p
      KUOTUS actúa como proveedor de tecnología, e intermediario, facilitando la venta de tours y actividades de nuestros clientes a los Usuarios. En ningún caso, KUOTUS se hace responsable de posibles reclamaciones o cancelación que puedan derivarse de la compra de los productos ofrecidos.
    %p
      Ni KUOTUS, ni sus afiliados, ni ninguno de sus respectivos directores, miembros, accionistas, empleados, agentes o cualquier otra tercera parte garantizan que el servicio no será interrumpido, o que esté libre de errores; así como tampoco garantizan que los resultados que puedan ser obtenidos del uso del servicio, incluyendo su exactitud, confiabilidad, calidad, adecuación, puntualidad o autenticidad. 
    %p
      En ningún caso KUOTUS, o ninguna otra persona o entidad involucrada con Kuotus, bien sea trabajador o colaborador, con el fin de crear, producir o distribuir el servicio de Kuotus, puede ser responsable ante usted o cualquier otra persona o entidad de ninguna forma indirecta, incidental, especial, o punitiva, de pérdida de beneficios o ingresos que puedan resultar del uso o incapacidad de uso del servicio. Esta renuncia de responsabilidad de cualquier daño o perjuicio causado por cualquier falla de funcionamiento, error, omisión, interrupción, borrado, defecto, retraso en la operación o transmisión, virus informático, fallo en las comunicaciones de la línea, robo o destrucción o acceso no autorizado, alteración, o uso de los datos, ya sea por incumplimiento de contrato, comportamiento ilícito, negligencia, o por cualquier otra causa independientemente de si KUOTUS ha tenido conocimiento de la causa, o de si la causa era previsible. Estas renuncias y limitaciones aplicarán incluso en los casos de un incumplimiento fundamental o material de este acuerdo. Algunas jurisdicciones no permiten la exclusión de ciertas garantías o la exclusión o limitación de responsabilidad por incidentes o daños colaterales. En consecuencia, algunas de las limitaciones anteriores pueden no aplicarse a usted.

    %p
      La empresa propietaria de la web, que actúa como colaboradora y canal de ventas afiliado a KUOTUS, queda también exenta de la responsabilidad que pudieran derivarse del servicio ofrecido por Terceras Partes vinculadas a KUOTUS.
    %p
      El proveedor del servicio es el único responsable de la prestación del servicio en los términos acordados, así como de las posibles reclamaciones o cancelación que puedan derivarse de la compra de los productos ofrecidos. El proveedor del servicio estará obligado a disponer de un seguro de responsabilidad civil que cubra cualquier anomalía que pudiere surgir fruto de la prestación del servicio. Esto queda acordado en el contrato existente entre KUOTUS y el proveedor del servicio.

    %h3 OBLIGACIONES Y RESPONSABILIDADES DEL USUARIO Y EL PROVEEDOR DEL SERVICIO
    %p 
      Usted, como Usuario del sistema de reservas de Kuotus, afirma que es mayor de edad y acepta la responsabilidad sobre todos los menores de edad que le acompañen.
    %p
      El proveedor del servicio podrá denegar la prestación del servicio en caso de menores de edad no acompañados por un adulto.
    %p
      El proveedor del servicio podrá cancelar la actividad si no se cumplen todos los requisitos legales establecidos, no existiendo derecho a la devolución del importe satisfecho.
    %p
      Los Usuarios aceptan ser responsables en exclusiva de mantener un comportamiento adecuado durante el desarrollo del servicio contratado. Kuotus ni el Canal de ventas asumirán obligación alguna (entre otras, a título meramente enunciativo, de pago de indemnizaciones ni de asunción de ningún coste ni gasto) en los que el Usuario tuviera que incurrir como consecuencia de la finalización anticipada del servicio contratado, por parte de la empresa proveedora del servicio, debido al comportamiento inadecuado del Usuario.
    %p
      El supuesto de que, por cualquier causa, la empresa proveedora del servicio no pudiera cumplir con el servicio reservado por el Usuario, Kuotus ni el canal de ventas tendrán ni asumirán responsabilidad alguna. El proveedor del servicio será el único responsable de cualquier responsabilidad que pudiera derivarse como consecuencia de lo anterior.
    %p
      En la máxima medida de lo permitido por ley, ni Kuotus ni el Canal de ventas serán responsables de: (i) pérdidas o daños punitivos, especiales, indirectos, pérdidas de beneficios, ingresos, contratos, así como pérdidas o daños de clientes o de reputación; (ii) errores relativos a la información (descripción incluyendo tarifas, disponibilidad y clasificaciones) de los proveedores de servicios y Usuarios, disponibles en Kuotus; (iii) servicios prestados o productos ofertados por los proveedores de servicios; (iv) pérdidas, daños o costes (directos, indirectos, consecuentes o punitivos) que los proveedores de servicios y/o el Usuario pudieran sufrir, surgidos o relativos al uso, indisponibilidad o retraso del sistema de reservas; o (v) por daños, pérdidas o costes, que los proveedores de servicios y/o el Usuario sufran, contraigan o tengan que abonar, ya sea a causa de actos (legales), errores, infracciones, negligencias, mala conducta dolosa, omisiones, incumplimientos, representación errónea, responsabilidad extracontractual objetiva, incluyendo cualquier cancelación (total o parcial), huelga, fuerza mayor u otro acto que escape a nuestro control.
    %p
      Kuotus se reserva el derecho de suspender temporalmente o definitivamente el uso del Servicio en cualquier momento en caso de producirse un uso no autorizado, o supuestamente no autorizado, del Servicio mismo, ya sea por contravenir lo previsto en las presentes Condiciones Particulares o por otras causas. En tales supuestos, no recaerá obligación ni responsabilidad alguna sobre el Kuotus ni sobre el Canal de ventas.

    %h3 PROTECCIÓN DE DATOS PERSONALES

    %p
      De conformidad con lo dispuesto en la LOPD y su normativa de desarrollo, Kuotus, en cumplimiento de lo dispuesto en el art. 5 y 6 de la LOPD, informa a todos los Usuarios del sistema de reservas que faciliten sus datos personales, que éstos serán incorporados en un fichero automatizado que se encuentra debidamente inscrito en la Agencia Española de Protección de Datos.
    %p
      Los Usuarios aceptan expresamente y de forma libre e inequívoca marcando la siguiente casilla que sus datos personales sean tratados por parte del titular del fichero automatizado para realizar las siguientes finalidades:
      %ol
        %li Remisión de comunicaciones comerciales publicitarias por e-mail, fax, SMS, MMS, comunidades sociales o cualesquier otro medio electrónico o físico, presente o futuro, que posibilite realizar comunicación comerciales.
        %li Realizar estudios estadísticos.
        %li Tramitar encargos, solicitudes o cualquier tipo de petición que sea realizada por el Usuario a través de cualquiera de las formas de contacto que se ponen a disposición del Usuario en el sitio Web.

    %p El Titular informa y garantiza expresamente a los Usuarios que sus datos personales no serán cedidos en ningún caso a terceras compañías, y que siempre que fuera a realizarse algún tipo de cesión de datos personales, de forma previa, se solicitaría el consentimiento expreso, informado, e inequívoco por parte de los titulares.
    %p Todos los datos solicitados a través del sitio Web son obligatorios, ya que son necesarios para la prestación de un servicio óptimo al Usuario.
    %p Kuotus garantiza en todo caso al Usuario el ejercicio de los derechos de acceso, rectificación, cancelación, información y oposición, en los términos dispuestos en la legislación vigente. Por ello, de conformidad con lo dispuesto en la LOPD podrá ejercer sus derechos remitiendo una solicitud expresa, junto a una copia de su DNI, a través de los siguientes medios:
    %ol
      %li E-Mail: info@kuotus.com
      %li Correo Postal: Rambla Pompeu Fabra, 132 3-4 de Gavà. Barcelona
    %p El Usuario podrá darse de baja de cualquiera de los servicios de suscripción facilitados haciendo clic en el apartado darse de baja de todos los correos electrónicos remitidos por parte del prestador.
    %p Kuotus  ha adoptado las medidas técnicas y de organización para garantizar la seguridad e integridad de los datos de carácter personal que trate, así como para evitar su pérdida, alteración y/o acceso por parte de terceros no autorizados.

    %h3 CONTENIDO
    %p El contenido proporcionado a través del sistema KUOTUS pertenece a sus clientes, los proveedores de servicios, y ellos garantizan la licencia de uso, distribución, reproducción, modificación, adaptación, presentación de fotos, gráficos, o cualquier otro material.

    %p El contenido, organización y prestación de los servicios, es responsabilidad exclusiva de la empresa proveedora, quién asumirá toda la responsabilidad en esos aspectos, exonerando en este sentido tanto al Titular como a la empresa propietaria de la web, que actúa sólo como  canal de ventas.
    %p No obstante, Kuotus Software S.L. ni presta ni supervisa ninguno de los servicios que se ofertan en el sitio Web. El Usuario declara conocer que la relación se establece exclusivamente entre él y la empresa proveedora del servicio, sin intervención alguna de Kuotus Software S.L. ni del canal de ventas., que declinan cualquier responsabilidad que derive del servicio ofertado por la empresa proveedora del servicio y contratado por el Usuario.
    %p Kuotus se reserva el derecho de revisar y validar las propuestas de servicios ofrecidos y en su caso, cancelar y/o eliminar sin previo aviso todas aquéllas que el entienda que incumplen las presentes Condiciones y Términos de Uso Particulares.
    %p Kuotus Software S.L. ha desarrollado una plataforma hábil para establecer un sistema eficaz y seguro de pago de la contraprestación acordada por los servicios prestados. Los Usuarios aceptan, reconocen y autorizan la intervención de Kuotus en las gestiones, tanto de cobro como en su caso de devolución, realizadas a través de la citada plataforma.
    %p Ni Kuotus ni el canal de ventas asumen responsabilidad alguna por los contenidos que las empresas proveedoras incluyan en la plataforma. Kuotus se reserva la facultad de revisar aquellos contenidos e incluso de retirarlos del sitio Web, cuando determine que no se corresponden con la realidad, sean contrarios, lesionen y/o perjudiquen en cualquier forma, la calidad del servicio ofertado en el sitio Web, la imagen de Kuotus o del canal de ventas, y aquellos contenidos que se consideren no apropiados a las características y finalidades a que responde.
    %p Los contenidos incluidos en la plataforma pueden ser ofrecidos a los Usuarios en diferentes idiomas, a través de herramientas de traducción ajenas; Kuotus Software S.L. no ofrece ninguna garantía en relación con la fiabilidad del contenido de dichas traducciones y recomienda siempre ver el texto original accesible a los Usuarios. Ello no obstante, las empresas proveedoras de servicios  podrán ofrecer sus servicios en los idiomas que entiendan oportunos. Todas las versiones que redacten serán consideradas auténticas, asumiendo las empresas proveedoras de servicios plena responsabilidad por lo dispuesto en cada una de ellas.
    %p El servicio que presta Kuotus a través del sitio Web no supone en ningún caso la existencia de relación laboral de ninguna clase o naturaleza, entre aquél y la empresa proveedora del servicio, quien asume bajo su exclusiva responsabilidad y en su caso, el cumplimiento de las obligaciones en materia de afiliación y cotización a la Seguridad Social relacionadas e inherentes a la prestación de sus servicios.
    %p En el mismo sentido anterior, será exclusiva responsabilidad de la empresa proveedora del servicio, la atención y cumplimiento de las eventuales obligaciones fiscales derivadas de la prestación de sus servicios.
    %p Toda la información que facilite el Usuario a través del sitio Web deberá ser veraz y a estos efectos, el Usuario garantiza la realidad y autenticidad de todos aquellos datos que comunique como consecuencia de la cumplimentación de los formularios necesarios para la publicación de la oferta de servicios y/o de los contenidos de la propia oferta.
    %p El Usuario garantiza que los datos personales facilitados en el registro son veraces y se hace responsable de comunicar cualquier modificación de los mismos, así como que toda la información de carácter personal que facilite es exacta y está puesta al día de forma que responde con veracidad a su situación actual, correspondiendo y siendo su obligación, mantener, en todo momento, sus datos actualizados, asumiendo la responsabilidad exclusiva por la inexactitud o falsedad de los datos facilitados y de los perjuicios que pueda causar por ello al Titular, el Usuario o a terceros con motivo de la utilización de los servicios ofrecidos.

    %h3 DINÁMICA DEL SERVICIO LA PLATAFORMA DE RESERVAS. OFERTA DE SERVICIOS, PRECIOS Y CONTRATACIÓN.
    %p KUOTUS SOFTWARE S.L., a través del sitio Web y como finalidad de la misma, pone a disposición de los Usuarios una plataforma de reserva de actividades e iniciativas vinculadas al turismo, el ocio y el tiempo libre. 
    %p La determinación del precio del servicio, es competencia y decisión exclusiva del proveedor del servicio, basada en las condiciones del servicio a prestar por él diseñadas, por lo que ni Kuotus ni el canal de ventas  tienen participación alguna en su fijación y por tanto, no asumen ninguna responsabilidad frente al Usuario por las desviaciones que pudieran tener lugar entre el precio fijado y el coste final efectivo del servicio prestado, que serán en todo caso, a cargo del Usuario.
    %p En su caso y en función del servicio contratado, la determinación del precio podrá incluir los gastos directamente relacionados con su completa prestación tales como la adquisición de entradas a locales o establecimientos, desplazamientos, adquisición y/o consumo de bienes o servicios, seguros, etc. En estos casos, el precio por servicio deberá contener el oportuno desglose de estos gastos que sirva de información suficiente al Usuario que lo contrate (consultar el apartado “Descripción”).
    %p Al realizar la reserva y efectuar el pago del precio establecido por el servicio, el Usuario entiende y acepta que acaba de establecer una relación de prestación de servicios que comporta derechos y obligaciones para con la empresa proveedora del servicio y viceversa, de tal modo que sólo serán exigibles entre ellos, exonerando de toda responsabilidad a KUOTUS SOFTWARE S.L. y al canal de ventas, que a estos efectos actúan como simple enlace de ambos y para la atención de sus respectivos intereses.
    %p El pago del Precio del Servicio establecido tendrá lugar, a través de cualquiera de los sistemas de pago habilitados en el sitio Web y cuyas condiciones y términos de uso expresamente aceptan los Usuarios.
    %p Se prohíbe expresamente a la empresa proveedora del servicio y al Usuario la contratación del servicio de forma externa y/o paralela al sitio Web. 

    %h3 LEY APLICABLE Y JURISDICCIÓN
    %p Todas las discrepancias o diferencias que pudieran surgir en relación con las presentes Condiciones y Términos de Uso Particulares y las relaciones establecidas entre Kuotus y los Usuarios, Usuarios y Proveedores de servicios, se regirán y resolverán de conformidad con lo establecido en la ley española por los Juzgados y Tribunales de Barcelona, con exclusión expresa a cualquier otro foro. 